name: Add project to issue

on:
  workflow_call:
    secrets:
      GH_TOKEN:
        description: 'A token passed from the caller workflow'
        required: true
      ACCOUNT_TYPE:
        description: 'A github account type that owns the repo. It must be "users" or "orgs".'
        required: true
      ACCOUNT:
        description: 'A github user to what a project will be selected'
        required: true
      PROJECT_NUMBER:
        description: 'A GitHub project number of the given user that will be updated'
        required: true

jobs:
  add-project-to-issue:
    name: Add project to issue
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.4.0
        with:
          project-url: "https://github.com/${{ secrets.ACCOUNT_TYPE }}/${{ secrets.ACCOUNT }}/projects/${{ secrets.PROJECT_NUMBER }}"
          github-token: ${{ secrets.GH_TOKEN }}
